{% if result|length > 0 %}
	<button class="header__burger js-burger"><span></span></button>
	<div class="header__nav">
		<nav class="header__nav_wrap">
			{% for item in result %}
				<a href="{{ item.LINK }}" class="header__nav_link">{{ item.TEXT }}</a>
			{% endfor %}
		</nav>
	</div>
{% endif %}