<section class="services">
	<div class="container">
		<div class="h1 services__header">услуги good work</div>
		<div class="services__text">Мы команда профессионалов, эксперт в области строительства, проектирования и реконструкции кровли</div>
		{% if services.index|length > 0 %}
			<div class="services__wrapper">
				{% for item in services.index %}
					<div class="services__item">
						<img class="services__item_image" src="{{ item.image }}" alt="">
						<a href="{{ item.link }}" class="services__item_info">
							<span class="services__item_icon icon icon-{{ item.icon }}"></span>
							<span class="h3 services__item_name">{{ item.name }}</span>
						</a>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</section>