<div class="services-detail__top">
	{{ result.PREVIEW_TEXT }}
	<picture class="services-detail__image">
		<img src="{{ result.DETAIL_PICTURE.SRC }}" alt="">
	</picture>
	<div class="detail-background-text">Good Work</div>
</div>
<div class="services-detail__content">
	{{ result.DETAIL_TEXT }}
</div>